* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  /*Navigationsleiste*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0462bb;
}

.menu img {
  height: 1em;
}

/*Ereignis- und Gemeinschaftskarten*/

.main-container {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
}
.container-1, .container-2 {
  float: left;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}

.text {
  padding-bottom: .82353rem;
}

.card {
  position: relative;
  background-color: transparent;
  padding: 0px;
  border: none;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  text-align: center;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: #bbb;
  color: black;
}

.card-back {
  background-color: #0462bb;
  color: white;
  transform: rotateY(180deg);
}